.FolderButton {
    width: 100%;
    text-align: left;
    border: none;
    font-size: 20px;
    background-color: #ffffff;
    font-family: "Nanum Pen Script";
    border-radius: 10px;

    padding-left: 5px;
    padding-right: 5px;
}

.FolderButton_Click {
    background-color: #777474;
    color: #ffffff;
}

.FolderButton_Default:hover {
    background-color: #ececec;
}

.DeleteSpan {
    padding-top: 5px;
    display: flex;
    float: right;
}

.DeleteButton {
    
    cursor: pointer;
    padding: 0px;
    border-radius: 100%;
    border: none;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 5px;
    width: 15px;
    height: 15px;
}

.FolderButton_Default:hover .DeleteButton {
    background-color: #bbbbbb;
    color: #ffffff;
}

.FolderButton_Click .DeleteButton {
    background-color: #bbbbbb;
    color: #ffffff;
}