.oauth2 {
    text-align: center;
    width: 580px;
    border : 1px solid #111111;
    border-radius : 5px;
    margin: 9px;
}

.oauth2 button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    border-radius: 5px;
    margin: 10px;
}

.oauth2 img {
    width: 25px;
    height: 25px;
}

.kakaoMark {
    background-color: #F9E000;
}

.naverMark {
    background-color: #2DB400;
}