@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");

html,
body {
  background-color: #f6f6f6;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Nanum Pen Script";
  /* font-family: "Yeon Sung"; */
}

body {
}

#root {
  width: 100%;
  height: 100%;
}